# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = cnblogSpider.settings

[deploy:200]
url = http://localhost:7200/
project = cnblogSpider
