# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = meituan_meishi.settings

[deploy:100]
url = http://localhost:7200/
project = meituan_meishi
